<div class="m-auto 2xl:w-2/4 lg:3/4 md:w-5/6 md:max-w-xl">
  <h1 class="text-4xl font-bold m-auto leading-loose pl-1 pt-6 pd-6 text-left">
    all users.
  </h1>
  <div class="container">
    <%= render partial: "user", collection: @users.order(:id) %>
  </div>
</div>
