<div class="flex flex-col rounded-lg border justify-between pt-2 pl-2 pr-2 leading-normal min-w-full mt-1 md-1">
  <p class="mb-3 font-normal text-sm text-gray-700">
    <span class=""><%= comment.author.name %>: </span>
    <%= comment.text %>
    <% if can? :destroy, comment%>
      <%= button_to "Delete", user_post_comment_path(comment.author_id, comment.post_id, comment.id), method: :delete %>
    <% end %>%
  </p>
</div>
